# Gitleaks Configuration
# https://github.com/gitleaks/gitleaks

title = "DevSecOps Pipeline - Gitleaks Config"

[[rules]]
id = "aws-access-key"
description = "AWS Access Key"
regex = '''AKIA[0-9A-Z]{16}'''
tags = ["key", "AWS"]

[[rules]]
id = "github-pat"
description = "GitHub Personal Access Token"
regex = '''ghp_[0-9a-zA-Z]{36}'''
tags = ["key", "GitHub"]

[[rules]]
id = "github-oauth"
description = "GitHub OAuth Token"
regex = '''gho_[0-9a-zA-Z]{36}'''
tags = ["key", "GitHub"]

[[rules]]
id = "private-key"
description = "Private SSH Key"
regex = '''-----BEGIN (RSA|DSA|EC|OPENSSH) PRIVATE KEY-----'''
tags = ["key", "private"]

[[rules]]
id = "generic-api-key"
description = "Generic API Key"
regex = '''[aA][pP][iI][_-]?[kK][eE][yY]['"]?\s*[:=]\s*['"]?[0-9a-zA-Z]{32,}'''
tags = ["key", "API"]

[allowlist]
description = "Allowlist for test patterns"
regexes = [
  '''_EXAMPLE_''',
  '''_TEST_''',
  '''_DUMMY_''',
  '''FAKE_'''
]

paths = [
  '''(.*?)(test_|_test\.)(.*?)$''',
  '''(.*?)\.example(.*?)$'''
]
